@font-face {
  font-family: "fontcustomruby";
  src: url("./font_ruby.eot");
  src: url("./font_ruby.eot?#iefix") format("embedded-opentype"),
       url("./font_ruby.woff") format("woff"),
       url("./font_ruby.ttf") format("truetype"),
       url("./font_ruby.svg#fontcustomruby") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "fontcustomruby";
    src: url("./font_ruby.svg#fontcustomruby") format("svg");
  }
}

[data-icon]:before {
  content: attr(data-icon);
}

[data-icon]:before,
.fa-ruby:before {
  display: inline-block;
  font-family: "fontcustomruby";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.fa-ruby:before {
  content: "\f100";
}
